<nav>
  <ul class="nav-bar">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/signup">Signup</a></li>
  </ul>
</nav>
