
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/weather">Weather</a></li>
</ul>
