
<div class="image-grid-container">
    <a class="post-image image-grid-image" href="post/{{this._id}}">
      <img class="image-image" src="{{this.path}}">
      <div class="image-title">{{this.name}}</div>
    </a>
</div>
