<h1>Hello World</h1>



<div class="">
  <p>
    <a href="/login">Login Local</a>
    <a href="/signup">Sign up Local</a>
  </p>
</div>

{{> upload-form}}

<div class='image-grid'>
  {{#each posts}}
    {{> image}}
  {{/each}}
</div>
