<h1>Sign Up</h1>

<form>
  <div>
    <p><label>Username</label></p>
    <p><input type='text' placeholder="username" /></p>
  </div>
  <div>
    <p><label>Password</label></p>
    <p><input type='password' placeholder="password" /></p>
  </div>
  <div>
    <p><label>Confirm Password</label></p>
    <p><input type='password' placeholder="confirm password" /></p>
  </div>
  <div>
    <p><button type="submit">Submit</button></p>
  </div>
</form>
