* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background: #cdf;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', sans-serif;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: calc(115px * 6);
  margin: auto;
}

.image-grid {
  margin: auto;
  padding: 0;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.image-grid-container {
  width: 100px;
  height: 100px;
  margin: 5px;
  overflow: hidden;
  border: 1px #000 solid;
  position: relative;
}

.image-grid-image {
  display: block;
  height: 100%;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}

.image-image {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25em 0.4em;
  background-color: rgba(255, 255, 255, 0.5);
}

/* =========================================== */
/* Nav Bar */
.nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-bar > li > a {
  display: block;
  text-align: center;
  padding: 1em 0;
  background-color: #444;
  color: #ddd;
  text-decoration: none;
}


/* =========================================== */
/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* =========================================== */
/* Upload Form */

.upload-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.upload-form-div-name {
  flex: 1;
}

.upload-form-input-name {
  width: calc(100% - 1em);
  margin-right: 1em;
  border-radius: 0.25em;
  border: none;
  font-size: 1em;
}

.upload-form input {
  padding: 0.5em;
}

.upload-form button {
  padding: 0.5em;
}

.upload-form-image-input {
  display: none;
}

.upload-form-image-label {
  margin: 0 1em;
}

.upload-form-image-label, .upload-form button {
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.25em;
  border: none;
  font-size: 1em;
}
